.w-m-1200 {
    max-width: 1200px;
}

.h-8{
    height: 10px;
}

.h-12{
    height: 12px;
}

.w-8 {
    width: 8px;
}

.w-12{
    width: 12px;
}

.w-70p {
    width: 70%;
}

.w-90p {
    width: 90%;
}

.h-100p {
    height: 100%;
}

.w-100p {
    width: 100%;
}

.h-300 {
    height: 300px;
}

.w-300 {
    width: 300px;
}