.h-100p {
    height: 100%;
}

.w-100p{
    width: 100%;
}

.h-300{
    height: 300px;
}

.bg-lightblue {
    background-color: lightblue;
}

.pane1 {
    background-color: #efefef;
    border-radius: 5px;
}

.pane2 {
    background-color:#b0bec5;
    border-radius: 5px;
}

.pane3 {
 background-color: #efefef;
 border-radius: 5px;
}



.pane-container {
    /* height: 830px; */
}



.vertical-cursur:hover {
    cursor: e-resize;
}

.horizontal-cursur:hover {
    cursor: n-resize;
}

.p-relative{
    position: relative;;
}

.t-100{
    top: 70px;
}

.radious-5 {
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius:  15px 15px 15px 15px;
    -webkit-border-radius:  15px 15px 15px 15px;
    border: 0px solid #000000;
}
.display-flex{
    display: flex;
}


.float-right {
    float: right;
}

.d-inline-block {
    display: inline-block;
}

.m-2px-8px{
    margin: 2px 4px;
}
.maxxmin{
    text-align: center;
    position: relative;
    top:100px;
    color:rgb(0, 0, 0);
    font-size: 24px;
    font-variant-numeric:tabular-nums;
    font-weight: normal;
}


.crhover:hover{
    background-color: aqua;
}


.custom-resizer-1st-parent {
    padding: 2px;
    background-color: white;
    justify-content: center;
  display: flex;
}

.custom-resizer-1st-parent:hover {
    padding: 3px;
}


.h-70p { height: 70%;}

.w-70p {
    width: 70%;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}



.custom-resizer-1st-child {
    background-color: #ccc;
    border-radius: 5px;
}

.custom-resizer-1st-child:hover {
}

.custom-resizer-2st-parent {
    padding: 2px;
    background-color: white;
    justify-content: center;
  display: flex;
}

.custom-resizer-2st-parent:hover {
    padding: 3px;
}

.custom-resizer-2st-child {
    background-color: #abe3ff;
    border-radius: 5px;
}

.custom-resizer-2st-child:hover {

}



.max-limit-reached{
    color: red;
}

.min-limit-reached{
    color: red;
}

.w-90p {
    width:90%;
}