


.m-r-auto {
    margin-right: auto;
}


.m-l-auto {
    margin-left: auto;
}


.m-20-0{
    margin: 20px 0px;
}

.m-10-0{
    margin: 10px 0;
}

.m-r-10{
    margin-right: 10px;
}


.m-l-5 {
    margin-left: 5px;
}

.m-b-0{
    margin-bottom: 0px;
}