
.font-tabular-nums{
    font-variant-numeric: tabular-nums;
}




.t-aligin-center {
    text-align: center;
}





//------------------------------------Font Weight ----------------------------------------------------//

.f-weight-500{
    font-weight: 500;
}

.f-weight-700{
    font-weight: 700;
}


.f-weight-800{
    font-weight: 800;
}



//------------------------------------Font Weight ----------------------------------------------------//


//------------------------------------Font Size ----------------------------------------------------//

.f-size-8{
    font-size: 8px;
}

.f-size-10{
    font-size: 10px;
}

.f-size-16{
    font-size: 16px;
}


//------------------------------------Font Size ----------------------------------------------------//


.resizer-text-vertical{
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    line-height: 0.7;
}